@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Colors
$blue: #59C4F7;
$dark-blue: #48A1F5;
$white: rgb(255, 255, 255);
$white-bis: #F4F4F4;
$gray: #474747;
$black: #111111;
$black-bis: #0e0e0e;

// Update Colors
$primary: $blue;
$link: $dark-blue;
$grey-dark: $black;
$grey-light: $gray;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update Components
$family-sans-serif: "Nunito", sans-serif;
$footer-background-color: $white-bis;
$has-text-black: $black-bis;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";

@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/media.sass";

@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/level.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";

@import '../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';
@import '../../node_modules/bulma-divider/dist/css/bulma-divider.sass';
@import '../../node_modules/bulma-switch/dist/css/bulma-switch.sass';