footer.footer
    nav.level
        div.level-left
            div.level-item
                p <strong>Sketchel</strong> © <strong>2019</strong> - <strong>Quote:</strong> #{quote}
        div.level-right
            div.level-item
                p <a href="/rules">Rules</a>
            div.level-item
                p <a href="/terms">Terms of Service</a> 
            div.level-item
                p <a href="/privacy">Privacy Policy</a>
            div.level-item
                p <a href="/credits">Credits</a>                   
