head
  title Sketchel
  meta(charset="UTF-8")
  meta(name="title", content="Sketchel — Draw, Edit and Look")
  meta(name="description", content="Sketchel is a new modern drawing website.")
  meta(name="theme-color", content="#17c9ff")  
  meta(name="keywords", content="sketchel, sketch, drawing app, flipbook, animation, drawing")  
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="author", content="Sketchel")
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://sketchel.art/")
  meta(property="og:title", content="Sketchel — Draw, Edit and Look")
  meta(property="og:description", content="Sketchel is a new modern drawing website.")
  meta(property="og:image", content="/assets/sketchel.png")
  meta(property="twitter:card", content="summary_large_image")
  meta(property="twitter:url", content="https://sketchel.art/")
  meta(property="twitter:title", content="Sketchel — Draw, Edit and Look")
  meta(property="twitter:description", content="Sketchel is a new modern drawing website.")
  meta(property="twitter:image", content="/assets/sketchel.png")
  link(rel='stylesheet', type="text/css", href='/css/style.css')
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
  script(src="https://kit.fontawesome.com/9558a49d61.js", crossorigin="anonymous")
  link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon-16x16.png")
  link(rel="shortcut icon", type="image/png", href="/assets/sketchel.png") 
  link(href="https://emoji-css.afeld.me/emoji.css", rel="stylesheet")
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <script data-ad-client="ca-pub-2539921328018448" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>