
nav.navbar.is-spaced(role="navigation", aria-label="main navigation")
    div.navbar-brand
        figure(class="image is-48x48")
            img(class="image is-48x48", src="/assets/sketchel-small.png")  
    div.navbar-menu.is-active(id="navbar")
        div.navbar-start
            a.navbar-item(href="/") <i class="fas fa-home"></i>&nbsp;Home
            a.navbar-item(href="https://discord.gg/sG7KSbW") <i class="fab fa-discord"></i>&nbsp;Discord
            a.navbar-item(href="/welcome") <i class="fas fa-shapes"></i>&nbsp;Features
            
        div.navbar-end
            div.navbar-item
                a.navbar-item(href="/login") <i class="fas fa-sign-in-alt"></i>&nbsp;Login
                a.navbar-item(href="/signup") <i class="fas fa-user-plus"></i>&nbsp;Signup
