script(src="/js/navbar.js", crossorigin="anonymous")
script(src="https://sketchel.art/js/jquery.js")
script.
    window.SketchelAuth = false;
nav.navbar.is-spaced(role="navigation", aria-label="main navigation")
    a.navbar-brand(href="/")
        figure(class="image is-48x48")
            img(class="image is-48x48", src="/assets/Sketchel.png")  
        a.navbar-burger(role="button", data-target="navbar", aria-label="menu", aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")    
    div.navbar-menu.is-active(id="navbar")
        div.navbar-start
            a.navbar-item(href="https://discord.gg/sG7KSbW") <i class="fab fa-discord"></i>&nbsp;Discord
            a.navbar-item(href="/welcome") <i class="fas fa-shapes"></i>&nbsp;Features
            
        div.navbar-end
            a.navbar-button(style="margin-right: 6px")
                div.field
                    p.control.has-icons-left
                        input.input.is-rounded(type="text", placeholder="Search")   
                        span.icon.is-small.is-left
                            i.fas.fa-search    

            div.navbar-item
                a.navbar-item(href="/login") <i class="fas fa-sign-in-alt"></i>&nbsp;Login
                a.navbar-item(href="/signup") <i class="fas fa-user-plus"></i>&nbsp;Signup
