doctype html
html 
  include includes/head.pug
  body      
    section.hero.is-medium.is-primary.is-bold
      div.container
        div.hero-head
            if authorized
                include includes/navbar-2 
            if !authorized
                include includes/navbar-1  
        div.hero-body
            h1.title 404,
            h2.subtitle The page you were looking for was not found, how sad.
            div.field
                p.control
                    a(href="/") 
                        button.button.is-primary.is-rounded Try going home.       

    include includes/footer.pug