<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Sketchel canvas</title>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://browser.sentry-cdn.com/5.8.0/bundle.min.js" integrity="sha384-qlxNoEAgNliJy7zXiR+uKx/fFAimdeVfEOK0SA5/wrXLioMmASbjvfVAMaQFKVI6" crossorigin="anonymous"></script>
        <script>Sentry.init({dsn:'https://652559f06b804713a8e147fd6e3e3fe4@sentry.io/1820397'});</script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
        <script src="/js/canvas.js"></script>
        <link href="/css/canvas.css" rel="stylesheet">
    </head>
    <body>
        <div class="SketchelApp">
            <div class="SketchelCanvasWrapper">
                <canvas class="SketchelCanvas">
                    Your browser doesn't support canvas... Are you using the first version of Internet Explorer or something??
                </canvas>
            </div>
            <div class="UndoBtn"></div>
            <div class="RedoBtn"></div>
            <div class="ClearBtn"></div>
            <div class="PencilBtn"></div>
            <div class="EraserBtn"></div>
            <div class="ExportBtn"></div>
            <div class="BucketBtn"></div>
            <div class="BrushSliderWrapper">
                <input class="Brushslider" type="range" min="1" max="100" value="10">
                <p class="BrushSizeParagraph">Brush Size: <span class="BrushSize">10</span></p>
            </div>
            <div class="pickr"></div>
        </div>
    </body>
</html>