html 
  include includes/head.pug
  body
    if authorized
        include includes/navbar-2 
    if !authorized
        include includes/navbar-1  
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(src="/js/canvas.js")
    link(href="/css/canvas.css", rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js",integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    <script>Sentry.init({dsn:'https://652559f06b804713a8e147fd6e3e3fe4@sentry.io/1820397'});</script>
    script(src="https://browser.sentry-cdn.com/5.8.0/bundle.min.js", integrity="sha384-qlxNoEAgNliJy7zXiR+uKx/fFAimdeVfEOK0SA5/wrXLioMmASbjvfVAMaQFKVI6", crossorigin="anonymous")
    div.SketchelApp
        div.SketchelCanvasWrapper
            canvas.SketchelCanvas
                Your browser doesn't support canvas... Are you using the first version of Internet Explorer or something??
        div.UndoBtn
        div.RedoBtn
        div.ClearBtn
        div.PencilBtn
        div.EraserBtn
        div.BucketBtn
        div.ExportBtn
        div.SaveBtn
        div.BrushSliderWrapper
            input.Brushslider(type="range", min="1", max="100", value="10") 
        div.pickr