doctype html
html 
  include includes/head.pug
  body
    if authorized
        include includes/navbar-2 
    if !authorized
        include includes/navbar-1    


    section.hero.is-medium.is-primary.is-bold
      div.container.is-fluid
        div.hero-body
            if authorized
                h1.title.is-2 <strong>Welcome back,</strong> #{username} <i class="em em-wave" aria-role="presentation" aria-label="WAVING HAND SIGN"></i>
                h2.subtitle We've missed you.  
            if !authorized
                h1.title.is-1 <strong>Sketchel</strong>
                h2.subtitle The newest platform to upload drawings/animations.   
            if !authorized     
                div.field
                    p.control
                        a(href="/signup") 
                            button.button.is-link.is-rounded Register for Sketchel here.
                            
                        a(href="/login") 
                            button.button.is-primary.is-rounded Or, you can login here.
            if authorized
                div.field
                    p.control
                        a(href="/hot") 
                            button.button.is-primary.is-rounded See the most popular posts.
                            
                        a(href="/feed") 
                            button.button.is-primary.is-rounded See your feed.
                            
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2539921328018448" data-ad-slot="5011119499"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>                            
    
    include includes/footer.pug             
