
doctype html
html 
  include includes/head.pug
  body
    section.hero.is-medium.is-primary.is-bold
        div.container
            div.hero-head
                if authorized
                    include includes/navbar-2 
                if !authorized
                    include includes/navbar-1  
            div.hero-body.has-text-centered
                if authorized
                    h1.title.is-2 <i class="em em em-wave" aria-role="presentation" aria-label=""></i>
                    h1.title <strong>Welcome back,</strong> #{username}
                    h2.subtitle We've missed you.  
                    div.field.has-text-centered
                        p.control.has-text-centered    
                            a.button.is-light.is-rounded.is-outlined(href="/hot") <i class="fas fa-fire"></i>&nbsp;What's hot?
                            span &nbsp;&nbsp;
                            a.button.is-light.is-rounded.is-outlined(href="/feed") <i class="fas fa-rss"></i>&nbsp;Feed
                if !authorized
                    h1.title.is-2 <i class="em em-lower_left_paintbrush" aria-role="presentation" aria-label=""></i>
                    h1.title <strong>Sketchel</strong>
                    h2.subtitle The newest platform to upload drawings/animations.   
                    div.field.has-text-centered
                        p.control.has-text-centered
                            a.button.is-light.is-rounded.is-outlined(href="/signup") <i class="fas fa-user-plus"></i>&nbsp;Register for Sketchel here.
                            span &nbsp;&nbsp;
                            a.button.is-light.is-rounded.is-outlined(href="/login") <i class="fas fa-sign-in-alt"></i>&nbsp;Or, you can login here.
        
        
    include includes/footer              