doctype html
html 
  include includes/head.pug

  body
    script(src='https://www.google.com/recaptcha/api.js' async defer)
    script.
      function submitForm(response) {
        document.getElementById("loginForm").submit();
      }
    style.
      .gcode {
        display: none;
      }
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug

    section.hero.is-primary.is-bold
      div.container.is-fluid
        div.hero-body
          h1.title Login to Sketchel <i class="em em-spiral_note_pad" aria-role="presentation" aria-label=""></i> 
          h2.subtitle If you don't have an account, look a lil bit down.

    br
    if error_messages != ""
      div.container.is-fluid
        div.notification.is-danger
          p <strong>Error:</strong> #{error_messages}

    br 
    div.container.is-fluid
      div(align="center")
        div(class="container")
          div.container
            form(method="POST", action="/users/login", id="loginForm")
              div.field
                div.control
                  input(class="input is-rounded", for="inputUsername", type="text", name="username", placeholder="login")
              div.field
                div.control
                  input(class="input is-rounded", for="inputPassword", type="password", name="password", placeholder="password")
              div.field
                div.control
                  input(class="input is-rounded gcode", type="password", name="g-recap", placeholder="googleRecaptcha")
              br
              br  
              input(class="button is-success is-medium is-rounded g-recaptcha", data-sitekey=gsitekey, type="submit", value="Login", data-callback="submitForm")  
              p by logging in you agree to our <a href="/privacy">privacy policy</a>
              
    br
    div(align="center")
      h2.subtitle New to the site? <a href="/signup">Register here.</a>        


    br
    include includes/footer.pug     