doctype html
html 
  include includes/head.pug
  body
    if !authorized
        include includes/navbar-1.pug

    if !authorized 
        section.hero.is-large.is-danger.is-bold
            div.container.is-fluid
                div.hero-body
                    h1.title You need to be logged in to use this page. <i class="em em-bust_in_silhouette" aria-role="presentation" aria-label=""></i> 
                    h2.subtitle You're trying to visit a page you need to be logged into to use.
                    div.field
                        p.control
                            a(href="/signup") 
                                button.button.is-primary.is-rounded Register for Sketchel here.
                                
                            a(href="/login") 
                                button.button.is-primary.is-rounded Or, you can login here.
                                        
    include includes/footer.pug     