doctype html
html 
  include includes/head.pug
  body
    if !authorized
        include includes/navbar-1.pug

    if !authorized 
        section.hero.is-danger.is-bold
            div.container.is-fluid
                div.hero-body
                    h1.title You need to be logged in to use this page. <i class="em em-bust_in_silhouette" aria-role="presentation" aria-label=""></i> 
                    h2.subtitle You're trying to visit a page you need to be logged into to use.
                    div.columns.is-multiline
                        div.column.is-one-third
                            div.box
                                article(class="notification has-background-white media")
                                    figure(class="media-left")
                                        a(href="/signup")
                                            span(class="icon")
                                                i(class="animated pulse fas fa-user-plus fa-2x")
                                    div(class="media-content")
                                        a.button.is-white(href="/signup") Let's get started. 
                        div.column.is-one-third
                            div.box
                                article(class="notification has-background-white media")
                                    figure(class="media-left")
                                        a(href="/login")
                                            span(class="icon")
                                                i(class="animated pulse fas fa-sign-in-alt fa-2x")
                                    div(class="media-content")
                                        a.button.is-white(href="/login") Or, login here.  
                                        
    footer.footer
        div(class="content")
            p <strong>Sketchel</strong> © <strong>2019</strong>, made with <a href="https://bulma.io">Bulma</a>, <a href="https://expressjs.com/">Express</a> and <a href="https://pugjs.com/">Pug</a> & more libraries, and also <span class="icon has-text-danger"><i class="fas fa-heart"></i></span>.
            p <a href="/rules">Rules</a> | <a href="/terms">Terms of Service</a> | <a>Privacy Policy</a>                    
            p <strong>Quote:</strong> #{quote}                