doctype html
html 
  include includes/head.pug
  
  body
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug
    
    div.container.is-fluid
        div.box
            div(align="center")
                figure.image
                    iframe(class="has-ratio", width="1039", height="483", src=image_url, frameborder="0")
                .media
                    .media-left
                        figure.image.is-64x64
                            img(src="https://sketchel.art/api/v1/get-avatar/" + author)
                    .media-content
                        p.title.is-4 #{author}
                        p.subtitle.is-6 Joined at <strong>#{joindate}</strong>