doctype html
html 
  include includes/head.pug
  body 
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug

    section.hero.is-primary.is-bold
      div.hero-body
        h1.title Privacy Policy
        h2.subtitle Possibly the most serious page on Sketchel.
        br
        a.button.is-white(href="/") Wanna go home?
    
    br
    div.container
        div.box
            div.container.is-fluid
                p <b>By signing up to <a href="https://sketchel.art">Sketchel</a>, you hereby accept the Privacy Policy and agree to store and use the provided information on <a href="https://sketchel.art">Sketchel</a>.</b>

                p We like transperancy, so that's we have written this privacy policy in the simplest manner possible without turning into baby talk.

                p br Any data processed on <a href="https://sketchel.art">Sketchel</a> is managed and protected by the founders (Minota and HVENetworks).
                p If any issues arise or you have any queries regarding this, contact us via <a href="https://discord.gg/KKs2cHV">Discord</a>.

                p <br>Below is the data we collect from you:
                p - <b>Your login information</b> for <a href="https://sketchel.art">Sketchel</a>, so you can, err... login.
                p - <b>Your <a href="https://sketchel.art">Sketchel</a> account password hash</b>, so that it can be safely secured. No one can decrypt the hash in order to retrieve your password, not even the owners of the website. So rest easy.
                p - <b>Your linked email address</b> to notify you of updates and security events.
                p <br>As of the 18th of November 2019 UTC, Sketchel <i>does not collect your I.P. address</i>. However, this may change in the future when we are required to issue I.P. bans for users who break the terms of service.
                p If you would like to request your data or want it gone forever (A long time!), contact us on <a href="https://discord.gg/KKs2cHV">Discord</a>.
                hr 
                p <br>Thank you to <a href="https://github.com/GLAETT">GLAETT</a> for writing this amazing Privacy Policy.
    br
    include includes/footer.pug         
