doctype html
html 
  include includes/head.pug
  body 
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug

    section.hero.is-primary.is-bold
      div.hero-body
        h1.title Privacy Policy
        h2.subtitle Possibly the most serious page on Sketchel.
        br
        a.button.is-white(href="/") Wanna go home?
    
    br
    div.container
        div.box
            div.container.is-fluid
                p <b>By signing up to Sketchel, you hereby accept the Privacy Policy and agree to store and use the provided information on Sketchel.</b>

                p We like transperancy, so that's we have written this privacy policy in the simplest manner possible without turning into baby talk.

                p Any data processed on `Sketchel` is managed and protected by the founders (Minota and HVENetworks).
                p If any issues arise or you have any queries regarding this, contact us via <a href="https://discord.gg/KKs2cHV">Discord</a>.

                p Below is the data we collect from you:
                p - Your login information for Sketchel, so you can, err... login.
                p - Your Sketchel account password hash, so that it can be safely secured. No one can decrypt the hash in order to retrieve your password, not even the owners of the website. So rest easy.
                p - Your linked email address to notify you of updates and security events.
                p As of the 18th of November 2019 UTC, Sketchel does not collect your I.P. address. However, this may change in the future when we are required to issue I.P. bans for users who break the terms of service.
                p If you would like to request your data or want it gone forever (A long time!), contact us on Discord.
                hr 
                p Thank you for <a href="https://github.com/GLAETT">GLAETT</a> for writing this amazing Privacy Policy.
    br
    include includes/footer.pug         