doctype html
html 
  include includes/head.pug
  body 

    section.hero.is-primary.is-bold
        div.container
            div.hero-head
                if !authorized
                    include includes/navbar-1.pug
                if authorized
                    include includes/navbar-2.pug
            div.hero-body
                div.container
                h1.title Rules for Sketchel <i class="em em-newspaper" aria-role="presentation" aria-label="NEWSPAPER"></i>
                h2.subtitle Guidelines on what not to do.
                div.columns.is-multiline
                    div.column.is-one-third
                        div.box
                            article(class="notification has-background-white media")
                                figure(class="media-left")
                                    a(href="/")
                                        span(class="icon")
                                            i(class="animated pulse fas fa-home fa-2x")
                                div(class="media-content")
                                    a.button.is-white(href="/") Wanna go home?

    br
    div.container
        div.box
            div.container
                h1.title.is-size-3 Rule #1
                h2.subtitle You must be at least 13 years of age or older to use this site.
                br
                h1.title.is-size-3 Rule #2
                h2.subtitle You must not harrass or torment any users on the site for any reason.
                br
                h1.title.is-size-3 Rule #3
                h2.subtitle You must not abuse your access to `Sketchel`.
                br
                h1.title.is-size-3 Rule #4
                h2.subtitle You must not post NSFW artwork without the NSFW toggle switched on for your account. Please be wary of younger users. 
                br
                h1.title.is-size-3 Rule #5
                h2.subtitle You must not post any sort of illegal content on our site. The legality of things depends your place of residence, and will vary depending on the user.

                br
                h1.title.is-size-3 Rule #6
                h2.subtitle You must not post anything too extreme such as:
                h2.subtitle - Gore (Snuff included)
                h2.subtitle - Animal Abuse
                h2.subtitle - Scat
                h2.subtitle - Terrorism
                br                 
                h1.title.is-size-3 Rule #7
                h2.subtitle Please try to keep the site as non-political as possible. We intend to keep this site as a simple and non-obstructive for as many people as possible.

                h2.subtitle These rules are regularly enforced and the breaking of them is punished harshly. If required, authorities may be informed in some cases. Be wary.          
    br
    include includes/footer.pug