doctype html
html 
  include includes/head.pug

  body
    //script(src='https://www.google.com/recaptcha/api.js' async defer)
    //script.
    //  function submitForm(response) {
    //    document.getElementById("loginForm").submit();
    //  }
    section.hero.is-primary.is-bold
      div.container
        div.hero-head
          if authorized
              include includes/navbar-2 
          if !authorized
              include includes/navbar-1 
        div.hero-body
          h1.title Signup to Sketchel <i class="em em-spiral_note_pad" aria-role="presentation" aria-label=""></i> 
          h2.subtitle If you have an account, look a lil bit down.


    br 
    if error_messages != ""
      div.container
        div.notification.is-danger
          p <strong>Error:</strong> #{error_messages}
    
    br

    div.container
        div(align="center")
          div(class="container")
            div.container
              form(method="POST", action="/users/signup", id="loginForm")
                div.field
                  div.control
                    input(class="input is-rounded", for="inputUsername", type="text", name="username", placeholder="username")
                div.field
                  div.control
                    input(class="input is-rounded", for="inputEmail", type="email", name="email", placeholder="email")
                div.field
                  div.control
                    input(class="input is-rounded", for="inputPassword", type="password", name="password", placeholder="password")
                div.field
                  div.control  
                      input(class="input is-rounded", for="inputConfirmPassword", type="password", name="confirmPassword", placeholder="confirm password")                    
                div.content.has-text-centered
                  div.field 
                      input.is-checkradio.is-success(type="checkbox" name="tosCheck", id="tosCheck")   
                      label(for="tosCheck") I agree to the <a href="/terms">Terms of Service</a> and confirm I am 13 or above.               


                input(class="button is-success is-medium is-rounded g-recaptcha", type="submit", value="Register", data-callback="submitForm") 
                //data-sitekey=gsitekey
                br 
                p by logging in you agree to our <a href="/privacy">privacy policy</a>
              
    br
    div(align="center")
      h2.subtitle Have an account already? <a href="/login">Login here.</a>        


    br
    include includes/footer.pug