doctype html
html 
  include includes/head.pug
  body 
    section.hero.is-primary.is-bold
      div.container
        div.hero-head
          if authorized
              include includes/navbar-2 
          if !authorized
              include includes/navbar-1 
        div.hero-body
          h1.title Here are the terms of service for Sketchel
          h2.subtitle Basically, what that means is that you agree to this while using the site.
          br
          a.button.is-white(href="/") Wanna go home?

    br
    div.container
        div.box
            div.container
                p Unfortunately, no one at Sketchel is a lawyer, so no one knows how to make a terms of a service, however, let's make one that's clear and easy to use.
                hr
                p By using Sketchel, you agree to the <a href="/rules">rules</a> and the <a href="/privacy">privacy policy</a>.
                p You are 13 years of age or older
                p You also agree not to do anything illegal with it.
                p You also also agree not to sue us, please don't sue us, we're not even a business.
                hr
                p Have fun.
    br
    include includes/footer.pug