html, body {
  margin: 0;
  padding: 0;
}

.feed {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 80px 160px;
}

.feed .column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.feed .column * {
  vertical-align: middle;
}

@media screen and (max-width: 1000px) {
  .feed {
    margin: 10px 0px;
  }
}

@media screen and (max-width: 1500px) {
  .feed {
    margin: 20px 65px;
  }
}

@media screen and (max-width: 1000px) {
  .feed .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .feed .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}